# IDE and Tooling
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# Build and Dependencies
target/
build/
out/
.mvn/wrapper/maven-wrapper.jar
release.properties
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next

# Project specific
.gitattributes

# Misc
.env
.DS_Store
*.log
